---
layout: page
---

{{ content }}

<p> I am a junior student at Shiv Nadar University and I am pursuing  B.Tech, Computer Science and Engineering. I'm currently working as an undergraduate research student under Opportunities for Undergraduate Research (OUR) offered by my university, where I'm majorly working on analyzing and mining impact caused by COVID using social media. The main objective of this project is to curb the spread of misinformation and hate comments related to COVID-19 data by categorizing it into sub-themes and further suggesting interventions to tackle the negative issues.</p>

<p> Some of my present work incorporates making projects based on artificial intelligence, natural language processing, database management systems and android/web development. You can check my work out here. I am also pursuing a virtual internship under Future Ready Talent by Microsoft where I gain real-world problem solving knowledge about Microsoft Azure and GitHub Tools.</p>

<p> Go ahead and reach out at ms.khushichawla@gmail.com or kc333@snu.edu.in </p>
